<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Billy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/billy.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <!--    <link rel="stylesheet" type="text/css" href="/css/test-colors.css">-->
</head>
<body>
<ul class="navTop" th:fragment="navbar">
    <div>
        <li><a class="navTop-items navTop-left" th:href="@{/}">Order</a></li>
        <li><a class="navTop-items navTop-left"th:href="@{/products}">Products</a></li>
        <li><a class="navTop-items navTop-left"th:href="@{/users}">Users</a> </li>
    </div>
    <div>
        <li><a class="navTop-items"
               th:href="@{/users/details/{userId}(userId=${#authentication.getPrincipal().getUserId()})}"
               th:text="${#authentication.getPrincipal().getDisplayName()}" sec:authorize="hasRole('ROLE_NOT_ADMIN')"></a></li>
        <li><a class="navTop-items navTop-right"th:href="@{/logout}">Logout</a></li>
    </div>




</ul>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>