html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
}
.navTop{
    margin: 0;
    width: calc(100%);
    background-color: lightsteelblue;

    list-style: none;
    padding: 0;
    overflow: hidden;

    font-size: 1rem;
    line-height: 1.5;

    border-bottom: 2px solid #A0B4CE;
}
.navTop li{
    margin: 0;
    width: auto;
    float: left;
}
.navTop li a{
    color: #4e4f4d;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid #A0B4CE;
}
.navTop li a:hover{
    background-color: #A0B4CE;
}




a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
