html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
}

/*temporary*/
.grid-buttonRow-parent{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.button_temporary {
    /*font-family: Arial;*/
    font-size: 13px;
    text-align: center;

    background-color:#eee;
    border-color:#888888;
    color:#333;
    text-decoration:none;
    cursor:default;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 1px 5px 3.5px;
    width: auto;
}

.buttonIsDisabled{
}

.billyTooltip{
    opacity: 0;

    width: auto;
    text-align: center;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    font-size:10px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    position: absolute;
    z-index: -1;
    margin-left: 20%;

    transition: opacity 300ms;
}

.billyTooltipRole{
    opacity: 0;

    width: auto;
    text-align: center;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    font-size:10px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    position: absolute;
    z-index: -1;

    transition: opacity 300ms;

}

.buttonIsDisabled:hover + .billyTooltipRole{
    opacity: 1;
    z-index: 1;
}

.buttonIsDisabled:hover + .billyTooltip{
    opacity: 1;
    z-index: 1;
}

button{
    min-height: 10mm;
    min-width: 10mm;
    background-color: lightsteelblue;
    color: #4e4f4d;
    border-radius: 10px;
    box-shadow: #6e6e6e;
    cursor: pointer;
    font-size: x-large;
}

button:focus{
    background-color: #A0B4CE
}

.detailsButtons{
    font-size: medium;
    min-width: 85px;
}

.detailsButtonsOverview{
    font-size: medium;
    min-width: 85px;
    margin-left: 20%;
}

button:hover {
    background-color: #A0B4CE;
}


/*navbar*/
.navTop{
    margin: 0;
    width: calc(100%);
    background-color: lightsteelblue;

    list-style: none;
    padding: 0;
    overflow: hidden;

    font-size: 1rem;
    line-height: 1.5;

    border-bottom: 2px solid #A0B4CE;

    display: flex;
    justify-content: space-between;
}
.navTop div li{
    margin: 0;
    width: auto;
    float: left;
}
.navTop div li a{
    color: #4e4f4d ;
}
.navTop-items{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navTop-left{
    border-right: 2px solid #A0B4CE;
}
.navTop-right{
    border-left: 2px solid #A0B4CE;
}

.navTop div li a:hover,
.navTop div li a:focus{
    background-color: #A0B4CE;
}
/*container*/
.billyContainer{
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 4rem);

    background: linear-gradient(180deg, #d9d9d9 0%, #f0f0f0 15%, #ffffff 100%);
}

/*overviews*/
.overview{
    margin: max(5vh, 0.25rem) auto;
    width: max(60%, 18rem);
    height: auto;
    max-height: calc(80vh - 10px);
    border: 2px solid dimgrey;
    background-color: #fcfcfc;
    overflow: hidden;
}

.overviewNoHistory{
    margin: max(5vh, 0.25rem) auto;
    width: max(60%, 18rem);
    height:calc(80%);
    max-height: calc(80vh - 10px);
    border: 2px solid dimgrey;
    background-color: #fcfcfc;
    overflow: hidden;
}

.grid-overview-parent{
    display: grid;
    grid-template-rows: 2.875rem calc(100% - 2.875rem);
}
.overviewList{
    max-height: calc(80vh - 10px - 2.875rem);
    overflow-y: auto;
}
.overviewList ul li a:focus,

.overviewList ul li:hover{
    background-color: #e0e0e0;
    opacity: 100;
}

.overviewList ul li a{
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
}
.overviewList ul:last-child{
    padding-bottom: 0.125rem;
}
.overviewListHead{
    border-bottom: 1px solid dimgrey;
}
.overviewOrderHistoryList{
    padding: 0.75rem 0.75rem;
    border-bottom: 1px solid dimgrey;
}
.grid-overviewListHead-parent{
    display: grid;
    grid-template-columns: calc(100% - 8rem) 8rem;
}

.grid-overviewOrderHistoryListHead-parent{
    display: grid;
    grid-template-columns: calc(42.5%) calc(25%) calc(33%);
}

.grid-modalAccountPayListHead-parent{
    display: grid;
    grid-template-columns: calc(40%) calc(25%) calc(20%) calc(10%);
}

.grid-overviewCompleteOrderHistoryListHead-parent{
    display: grid;
    grid-template-columns: calc(24.5%) calc(24.5%) calc(24.5%) calc(25%);
    border-bottom: 1px solid dimgrey;
}

.new-button{
    margin-left: 65%;
    margin-top: 3%;

}

.paymentButtons{
    text-align: center;
    font-size: larger;
    height: 4rem;
    width: calc(90%);
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;

}

.balance-button {
    margin-left: auto;
}


/*details*/
.itemView{
    margin: max(5vh, 0.25rem) auto;
    width: max(60%, 18rem);
    height: auto;
    max-height: calc(80vh - 10px);
    border: 2px solid dimgrey;
    background-color: #fcfcfc;

    overflow: hidden;
}
.grid-itemView-parent{
    display: grid;
    grid-template-rows: auto auto;
}
.itemViewListHead{
    border-bottom: 1px solid dimgrey;
}
.headStyle{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;

    margin-top: 0.375rem;
    margin-left: 0.625rem;
    margin-bottom: 0.2rem;
}
.itemViewList ul li{
    padding-top: 0.5rem;
    padding-left: 0.75rem;
}

.text-center {
    text-align: center !important;
    position: relative;
    top: 12%;
}
.itemViewList ul:last-child{
    padding-bottom: 0.5rem;
}
.grid-item-parent{
    display: grid;
    grid-template-columns: 10rem calc(100% - 10rem);
}
.grid-buttons-parent{
    display: grid;
    grid-template-columns: 100%;
}
.item-buttons{
    padding-top: 0.5rem;
    margin-right: 0.625rem;
}

/*forms*/
.error-inputField{
    font-size: 0.5rem;
    color: red;
}
.grid-form_returnButton-parent{
    }

.returnButton{
    font-size: medium;
}

.returnButtonOrderHistory{
    margin-left: calc(20%);
}

.returnButtonOrderHistoryDetails{
    margin-top: calc(10%);

}

/*links*/
a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/*misc*/
.unordered-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.unordered-listReceipt{
    padding: 0;
    margin-top: calc(5%);
}
.fontBold{
    font-weight: 590;
}
.pointer{
    cursor: pointer;
}


/*modal-test*/
.customModal{
    display: none;
    /*display: block; */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(65, 65, 65, 0.4);
}
.modalContainer{
    padding: 2.5rem;
    text-align: center;
    background-color: #fcfcfc;
    margin: 25vh auto auto auto;
    border: 2px solid dimgrey;
    width: fit-content;
    border-radius: 0.25rem;
}
.modalHeader{
    font-size: 1.75rem;
    font-weight: bold;
}
.grid-modalButtons-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: 0.25rem auto;
}
.modalButton{
    padding: 0.5rem 2rem;
    cursor: pointer;
}
.buttonCancel{
    background-color: #cbcbcb;
}
.buttonConfirm-warning{
    color: white;
    background-color: #d70000;
}

.buttonConfirm {
    color: white;
    background-color: lightblue;
    margin: 0;
    text-align: left;
    position: relative;
    left: 45%;
}


/*error*/
.center-emoji {
    position: relative;
    left: 46%;
    top: 20%;
    font-size: 100px;
}

.error-emoji {
    position: relative;
    /*left: 46%;*/
    /*top: 20%;*/
    font-size: 100px;
}

.center-msg {
    font-size: 20px;
    margin: max(5vh, 0.25rem) auto;
    color: black;
    font-family: "Courier new", Verdana, sans-serif;
}

.error-code-center {
    text-align: center !important;
    position: relative;
}