.orderContainer{
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 4rem - 10px);
    max-height: calc(100% - 4rem - 10px);
}
.grid-orderPage-parent{
    display: grid;
    gap: 1rem;
    grid-template-columns: 6fr 4fr;
}
.grid-orderPage-child{
    margin: 5px;
    height: calc(100% - 10px);
    max-height: calc(100% - 10px);
}
.productAssortment{

}
.grid-productAssortment-parent{
    display: grid;
    grid-template-columns: 2fr 5fr;
    overflow: hidden;
}
.grid-productAssortment-child{
    height: calc(100%);
}
.productCategoryList{

}
.productList{
    font-size: 1rem;
    line-height: 1.5;
    border-left: 2px solid black;
    overflow: hidden;
    overflow-y: auto;
}
.orderPage-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.productList ul:first-child{
    border-top: 1px solid black;
}
.productList ul li{
    border-bottom: 1px solid black;
}
.productList ul li a{
    display: block;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.productName{
    margin-left: 0.5rem;
    width: auto;
    float: left;
}
.productPrice{
    margin-right: 0.5rem;
    width: auto;
    text-align: right;
}

.receipt{
    overflow: hidden;
}
.receipt-child{
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
}
.receipt-orderList{
    margin-top: 5px;
    height: calc(100% - 10rem - 5px);

    font-family: "Courier New", Verdana, sans-serif ;
    font-size: 1rem;
    line-height: 1.5;
}
.receipt-ProductsList{
    height: calc(100% - 2rem);
    overflow: hidden;
    overflow-y: auto;
}
.receipt-ProductsList ul li a{
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    text-decoration: none;
}
.receipt-TotalPrice{
    border-top: 1px dashed black;
    height: 2rem;
}
.productAmount{
    margin-left: 0.5rem;
    width: 2rem;
    float: left;
}
.totalPrice{
    width: auto;
    text-align: right;
}
.receipt-paymentSection{
    margin-bottom: 5px;
    height: calc(10rem - 5px);
}