.productOverview{
    color: black;
    font-weight: normal;
    width: calc(45%);
    padding-top: calc(5%);
    padding-left: calc(5%);
    padding-bottom: calc(5%);
}
.productOverview ul li a{
    display: block;
    padding: 0.125rem 0.75rem;
    text-decoration: none;
}
.new-button{
    padding: 1rem 0.75rem;
}