.grid-product-parent{
    display: grid;
    grid-template-columns: calc(100% - 7em) 1rem 6rem;
}
.productName{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productPrice{
    text-align: right;
}

.euro-sign {
    text-align: right;
}

.category-products-header-grid {
    display: grid;
    grid-template-columns: fit-content(50ch) auto;
    justify-self: left;
}

.category-name {
    margin-left: 10px;
    font-size: x-large;
    font-weight: bold;
}

.edit-button {
    margin-left: 10px;
}