.grid-user-parent{
    display: grid;
    padding: 0;
    grid-template-columns: 7% 70% 8% 15%;
}

.grid-completeOrderHistory-parent{
    display: grid;
    padding: 0;
    grid-template-columns: calc(25%) calc(25%) calc(25%) calc(25%);
}

.grid-orderHistory-parent{
    display: grid;
    grid-template-columns: calc(42%) calc(25%) calc(33%);
}

.grid-orderHistoryDetails-parent{
    display: grid;
    grid-template-rows: 90% 10%;
}
.grid-user-child-left{
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.displayNone{
    display: none;
}

.grid-user-child-center{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-user-child-right{
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RoleSign{
    opacity: 100%;
    font-size: 18px;
}

.grid-user-grandparent {
    display: grid;
    grid-template-columns: calc(100% - 2.375rem) 2.375rem;
}

.buttonAddCredit{
    padding: 1px !important;
    background-color: white;
    transition: background-color .5s;
    padding: 2px;
}

.buttonAddCredit:hover {
    background-color: greenyellow;
}
.add-credit-button {
    float: right;
    background-color: transparent;
    border: none;
    height: auto;
    width: auto;
}
.add-credit-button:hover {
    background-color: lightsteelblue;
    border-radius: 9px;
    cursor: pointer;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    height: auto;
    width: auto;
}



