<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Change password</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="itemView grid-itemView-parent">
        <div class="overviewListHead">
            <div class="headStyle">Add credit</div>
        </div>
        <div class="itemViewList">
            <form th:action="@{/users/update/balance/{userId}(userId=${billyuserDto.getUserId()})}" method="post" name="adjustCreditForm" id="adjustCreditForm" th:object="${addCredit}">
                <ul class="unordered-list">
                    <li>
                        <div class="grid-item-parent">
                            <div><label class="inputLabel" for="addCredit">Amount:</label></div>
                            <div><input type="number" id="addCredit" name="addCredit" th:field="*{value}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="grid-item-parent">
                            <div>Account balance:</div>
                            <div th:text="${billyuserDto.getAccountBalanceDisplayString()}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="formButtonsGrid grid-buttons-parent">
                            <div>
                                <button th:class="detailsButtons" type="submit" value="Add credit">Add credit</button>
                            </div>
                            <div>
                                <a th:href="@{/users}" th:class="button">Return</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>