<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Category form</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>


<div class="billyContainer">
    <div class="itemView grid-itemView-parent">
        <div class="itemViewListHead">
            <div class="headStyle" th:text="${category.getCategoryId() == 0 ? 'New Category' : 'Edit'}"></div>
        </div>
        <div class="itemViewList">
            <form th:action="@{/assortment/categories/new}" method="post" th:object="${category}">
                <ul class="unordered-list">
                    <li>
                        <div class="grid-item-parent">
                            <div><label for="name">Name</label></div>
                            <div><input id="name" type="text" required maxlength="64" th:field="*{categoryName}"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('categoryName')}" th:errorclass="error" th:errors="*{categoryName}"></div>
                        </div>
                    </li>

                    <li>
                        <div class="item-buttons grid-buttons-parent">
                            <div class="grid-buttonRow-parent">
                                <div>
                                    <input type="hidden" th:field="*{categoryId}">
                                    <input type="submit" value="Save">
                                </div>
                                <div><a th:class="${productListSize > 0 ? 'buttonIsDisabled button_temporary' : 'button_temporary'}"
                                   id="deleteButton"
                                   th:style="${category.getCategoryId() == 0 ? 'display:none' : 'visible'}"
                                   th:text="Delete">
                                </a><span class="billyTooltip">Please delete all product before deleting the Category</span></div>
                            </div>
                            <div>
                                <a class="returnButton button_temporary"
                                   th:href="@{/assortment/categories}" th:text="Return"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<div id="deleteModal" class="customModal">
    <div class="modalContainer">
        <div class="modalHeader">Delete</div>
        <p>
            <span class="text-center">Are you sure you want to delete </span>
            <span class="text-center" th:text="${category.categoryName}"></span>
            <span class="text-center">?</span>
        </p>
        <div class="grid-modalButtons-parent">
            <div id="modalCancel" class="modalButton buttonCancel">Cancel</div>
            <a id="delete" class="modalButton buttonConfirm-warning" th:href="@{/assortment/categories/delete/{categoryId}(categoryId=${category.categoryId})}">Delete</a>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/deleteCategory.js}"></script>


<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>