<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Change password</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="itemView grid-itemView-parent">
        <div class="overviewListHead">
            <div class="headStyle">Change password</div>
        </div>

        <div class="itemViewList">
            <form th:action="@{/users/changePassword/{userId}/(userId=${passwordDto.userId})}" method="post" name="changePasswordForm" id="changePasswordForm" th:object="${passwordDto}">
                <ul class="unordered-list">
                    <li>
                        <div class="grid-item-parent">
                            <div><label class="inputLabel" for="newPassword">New password</label></div>
                            <div><input type="password" id="newPassword" name="password" required minlength="8"
                                        th:field="*{newPassword}"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('newPassword')}" th:errorclass="error" th:errors="*{newPassword}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="grid-item-parent">
                            <div><label class="inputLabel" for="confirmNewPassword">Confirm password</label></div>
                            <div><input type="password" id="confirmNewPassword" name="confirmPassword" required
                                        th:field="*{newPasswordConfirmation}"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('newPasswordConfirmation')}" th:errorclass="error" th:errors="*{newPasswordConfirmation}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-buttons grid-buttons-parent">
                            <div class="grid-buttonRow-parent">
                                <input type="hidden" th:field="*{userId}">
                                <button class="detailsButtons" type="submit" value="Change password">Change password
                                </button>
                                <button class="detailsButtons" onclick="history.back()">Return</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>