<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Change password</title>
</head>
<body>


<div class="container">
    <form th:action="@{/users/changePassword/{userId}(userId=${changePassword.userId})}" method="post" name="changePasswordForm" id="changePasswordForm"
          th:object="${changePassword}">

        <h2 class="formTitle">
            Change password
        </h2>
            <input type="hidden" th:field="*{userId}">

        <div class="inputDiv">
            <label class="inputLabel" for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="password" required th:field="*{newPassword}">
        </div>

        <div class="inputDiv">
            <label class="inputLabel" for="confirmNewPassword">Confirm Password</label>
            <input type="password" id="confirmNewPassword" name="confirmPassword" th:field="*{newPasswordConfirmation}">
        </div>

        <div class="buttonWrapper">
            <button type="submit" id="submitButton" class="">
                <span>Continue</span>
                <span id="loader"></span>
            </button>
        </div>

    </form>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>