<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Assortment</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/combinedOverview.css">
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>


<div class="billyContainer2 flex-combined-parent">
    <div class="categoryBar">
        <div class="overviewList">
            <ul class="unordered-list" >
                <li>
                    <div class="productName fontBold" th:text="All"></div>
                </li>
            </ul>
            <ul class="unordered-list" th:each="category : ${allCategories}">
                <li th:onclick="fire_ajax_getProducts([[${category.categoryId}]])">

                    <div class="productName fontBold" th:text="${category.getCategoryName()}"></div>

                </li>
            </ul>
        </div>
    </div>

    <div class="productBar">
        <div id="productList" class="overviewList">

        </div>
    </div>

    <span id="feedback" th:text="${_csrf.getToken()}"></span>


    <input type="hidden" id="header" th:value="${_csrf.getHeaderName()}">
    <input type="hidden" id="token" th:value="${_csrf.getToken()}">

</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>

<script type="text/javascript" th:src="@{/js/ajaxTest.js}"></script>


</html>