<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Order history</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>


<div class="billyContainer">
    <div class="overview grid-overview-parent">
        <div class="overviewListHead grid-complete-order-history-list-item">
            <div class="grid-user-child-left headStyle vertical-center">Date and time</div>
            <div class="grid-user-child-left headStyle vertical-center">Price</div>
            <div class="grid-user-child-left headStyle vertical-center">Customer</div>
            <div class="grid-user-child-left headStyle vertical-center">Bartender</div>
        </div>
        <div class="overviewList">
            <ul class="unordered-list" th:each="orders : ${allOrders}">
                <li>
                    <a style="padding-left: 0;padding-right: 0" th:href="@{/orderHistory/{orderId}/(orderId=${orders.orderId})}">
                        <div class="grid-complete-order-history-list-item">
                            <div class="grid-user-child-left order-history-list-item-element"   th:text="${#temporals.format(orders.getDateTime(), 'dd-MM-yyyy HH:mm')}"></div>
                            <div class="grid-user-child-left order-history-list-item-element" th:text="${orders.getTotalPriceEuroString(orders.totalPrice)}"></div>
                            <div class="grid-user-child-left order-history-list-item-element" th:text="${orders.customerName}"></div>
                            <div class="grid-user-child-left order-history-list-item-element"  th:text="${orders.bartenderName}"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>