<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>No order history yet</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>


<div class="billyContainer">

    <h1 class="">There is no order history yet</h1>

</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>