<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Create order</title>
</head>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<body data-role="touch" data-on-swipe-up="mySwipeFunction">
<nav th:replace="fragments/general :: navbar"></nav>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="orderContainer  grid-orderPage-parent">
        <div class="productAssortment grid-orderPage-child grid-productAssortment-parent">
            <div id="category-list" class="category-list grid-productAssortment-child">
                <ul class="unordered-list" th:each="category : ${allCategories}">
                    <li class="category-list-item">
                        <a class="cat-click" th:onclick="fire_ajax_getProducts([[${category.categoryId}]])">
                            <div>
                                <div class="productName" th:value="${category.categoryId}" th:text="${category.categoryName}"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="productList grid-productAssortment-child" id="productList">
                <ul></ul>
            </div>
        </div>
        <div class="receipt grid-orderPage-child grid-receipt-parent">
            <div class="clear-order-button-container">
                <a onclick="fire_ajax_clearOrder()">
                    <button class="clear-order-button">&#x2716</button>
                </a>
            </div>
            <div class="receipt-child receipt-orderHistoryDetails">
                <div class="receipt-ProductsList" id="receiptProductList">
                    <ul></ul>
                </div>
                <div class="grid-footer-receipt receipt-TotalPrice">
                    <div class="totalPrice">
                        <span>Total Price:</span>
                        <div class="euro-sign">€</div>
                        <span id="totalPrice" class="productPrice" th:text="${barOrder.getTotalPriceDisplayString()}"></span>
                    </div>
                </div>
            </div>
            <div class="receipt-child receipt-paymentSection">
                <div class="paymentButtons">
                    <a id="directPayButton">
                        <button class="paymentButtons">Direct pay</button>
                    </a>
                </div>
                <div>
                    <div class="paymentButtons">
                        <a id="accountPayButton">
                            <button class="paymentButtons">Account pay</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="directPayModal" class="modal">
        <div class="modalContainer">
            <div class="modalHeader">Direct pay</div>
            <p>Please confirm direct pay</p>
            <p>
                <span id="directTotalPrice" class="productPrice" th:text="'Total Price: € ' + ${barOrder.getTotalPriceDisplayString()}"></span>
            </p>
            <div class="grid-modalButtons-parent">
                <div id="modalCancelPayment" class="modalButton buttonCancel">Cancel</div>
                <a id="modalDirectPay" class="modalButton buttonConfirm-warning" onclick="fire_ajax_clearOrder()">Confirm</a>
            </div>
        </div>
    </div>

<div id="accountPayModal" class="customModal">
    <div class="modalContainer account-pay-modal-container">
        <div class="modalHeader"></div>
        <div class="account-pay-modal-body">
            <div class="account-pay-modal-body-select-customer">
                <p>Please select a customer</p>
                <div id="userList" class="overviewList">
                    <div class="overviewOrderHistoryList grid-user-account-pay">
                        <div class="grid-user-child-left fontBold"></div>
                        <div class="grid-user-child-left fontBold"></div>
                        <div class="grid-user-child-right ">Balance</div>
                    </div>
                </div>
            </div>
            <div class="account-pay-modal-body-order-info">
                <div id="accountPayReceipt" class="receipt-ProductsList receipt">
                    <ul></ul>
                </div>
                <div class="grid-footer-receipt receipt-TotalPrice">
                    <div class="totalPrice">
                        <span>Total Price:</span>
                        <span class="euro-sign">€</span>
                        <span id="accountTotalPrice" class="productPrice" th:text="${barOrder.getTotalPriceDisplayString()}"></span>
                    </div>
                </div>
                <div id="modalCancelAccountPayment" class="modalButton buttonCancel">Cancel</div>
            </div>
        </div>
    </div>
</div>


<div id="confirm-account-pay-modal" class="customModal">
    <div class="modalContainer">
        <div class="modalHeader">Account pay</div>
        <p>
            <span>Charge </span>
            <span id="confirmUser"></span>
            <span> for </span>
            <span id="accountPayTotalPrice" class="productPrice" th:text="'€ ' + ${barOrder.getTotalPriceDisplayString()}"></span>
        </p>
        <div class="grid-modalButtons-parent">
            <div id="cancelButton" class="modalButton buttonCancel">Cancel</div>
            <a id="confirmButton" class="modalButton buttonConfirm-warning">Confirm</a>
        </div>
    </div>

</div>


<input type="hidden" id="header" th:value="${_csrf.getHeaderName()}">
<input type="hidden" id="token" th:value="${_csrf.getToken()}">

<div th:replace="fragments/general :: bottomScripts"></div>
<script type="text/javascript" th:src="@{/js/orderScreen.js}"></script>
<script type="text/javascript" th:src="@{/js/directPay.js}"></script>
<script type="text/javascript" th:src="@{/js/accountPay.js}"></script>
</body>