<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Create order</title>
</head>
<body data-role="touch" data-on-swipe-up="mySwipeFunction">
<nav th:replace="fragments/general :: navbar"></nav>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="orderContainer  grid-orderPage-parent">
    <div class="productAssortment grid-orderPage-child grid-productAssortment-parent">
        <div class="productCategoryList grid-productAssortment-child"></div>
        <div class="productList grid-productAssortment-child">
            <ul class="unordered-list" th:each="product : ${allProducts}">
                <li><a th:href="@{/orders/add/{productId}(productId=${product.productId})}">
                    <div class="grid-product-parent">
                        <div class="productName" th:text="${product.getProductName()}"></div>
                        <div class="productPrice" th:text="${barOrder.getPriceDisplayString(product.getProductPrice())}"></div>
                    </div>
                </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="receipt grid-orderPage-child">
        <div class="receipt-child receipt-orderList">
            <div class="receipt-ProductsList">
                <ul class="unordered-list" th:each="product : ${barOrder.productMap.keySet()}">
                    <li><a th:href="@{/orders/remove/{productId}(productId=${product.productId})}">
                        <div class="grid-orderList-parent">
                            <div class="productAmount" th:text="${barOrder.productMap.get(product)}"></div>
                            <div class="grid-product-parent">
                                <div class="productName" th:text="${product.productName}"></div>
                                <div class="productPrice" th:text="${barOrder.getPriceDisplayString(barOrder.getSubTotal(product))}"></div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="grid-footer-receipt receipt-TotalPrice">
                <div class="totalPrice">
                    <span class="totalPrice">Total Price:</span>
                    <span class="productPrice" th:text="${barOrder.getPriceDisplayString(barOrder.calculateTotalOrderPrice())}"></span>
                </div>
            </div>
            <div class="receipt-child receipt-paymentSection">
                <div class="new-button">
                    <a id="directPayButton">
                        <button>Direct pay</button>
                    </a>
                </div>
                <div>
                    <div class="new-button">
                        <a id="accountPayButton">
                            <button>Account pay</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="directPayModal" class="customModal">
    <div class="modalContainer">
        <div class="modalHeader">Direct pay</div>
        <p>Please confirm direct pay</p>
        <p>
            <span class="totalPrice">Total Price:</span>
            <span class="productPrice" th:text="${barOrder.getPriceDisplayString(barOrder.calculateTotalOrderPrice())}"></span>
        </p>
        <div class="grid-modalButtons-parent">
            <div id="modalCancelPayment" class="modalButton buttonCancel">Cancel</div>
            <a id="modalDirectPay" class="modalButton buttonConfirm-warning" th:href="@{/orders/directPay}">Confirm</a>
        </div>
    </div>
</div>
<div id="accountPayModal" class="customModal">
    <div class="modalContainer account-pay-modal-container">
        <div class="modalHeader">Account pay</div>
        <div class="account-pay-modal-body">
            <div class="account-pay-modal-body-select-customer">
                <p>Please select a customer</p>
                <div class="overviewList">
                    <ul class="unordered-list" th:each="userDto : ${allUsers}">
                        <li th:class="${userDto.getAccountBalanceWithActiveOrder() < userDto.maxCredit ? 'isDisabled' : 'confirm-account-pay'}">
                            <a th:href="@{/orders/accountPay/{userId}(userId=${userDto.getUserId()})}" class="confirm-account-pay" th:class="${userDto.getAccountBalanceWithActiveOrder() < userDto.maxCredit ? 'isDisabled' : 'confirm-account-pay'}">
                                <div class="grid-user-account-pay">
                                    <span class="grid-user-child-left" th:text="${userDto.getName()}"></span>
                                    <span th:class="${userDto.getAccountBalanceWithActiveOrder() < userDto.maxCredit ? 'visible' : 'invisible'}">Credit insufficient</span>
                                    <span class="grid-user-child-right" th:text="${userDto.getAccountBalanceDisplayString(userDto.getAccountBalance())}"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="account-pay-modal-body-order-info">
                <div class="receipt-ProductsList receipt">
                    <ul class="unordered-list" th:each="product : ${barOrder.productMap.keySet()}">
                        <li>
                            <div class="grid-orderList-parent">
                                <div class="productAmount" th:text="${barOrder.productMap.get(product)}"></div>
                                <div class="grid-product-parent">
                                    <div class="productName" th:text="${product.productName}"></div>
                                    <div class="productPrice" th:text="${barOrder.getPriceDisplayString(barOrder.getSubTotal(product))}"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="grid-footer-receipt receipt-TotalPrice">
                    <div class="totalPrice">
                        <span class="totalPrice">Total Price:</span>
                        <span class="productPrice" th:text="${barOrder.getPriceDisplayString(barOrder.calculateTotalOrderPrice())}"></span>
                    </div>
                </div>
                <div id="modalCancelAccountPayment" class="modalButton buttonCancel">Cancel</div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
<script type="text/javascript" th:src="@{/js/directPay.js}"></script>
<script type="text/javascript" th:src="@{/js/accountPay.js}"></script>
</body>