<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Overview products</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="productContainer grid-productPage-parent">
  <div class="productOverview">
    <ul class="orderPage-ul" th:each="product : ${allProducts}">
      <li><a th:href="@{/products/details/{productId}(productId=${product.productId})}">
        <div class="productName fontBold" th:text="${product.getProductName()}"></div>
        <div class="productPrice" th:text="${product.getPriceDisplayString(product.getProductPrice())}"></div>
      </a>
      </li>
    </ul>

    <div class="marginTop"> <a  th:href="@{/products/new}"><button>Add a new product</button></a> </div>
  </div>
</div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>