<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Product details</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="itemView grid-itemView-parent">
        <div class="itemViewListHead">
            <div class="headStyle">Details</div>
        </div>
        <div class="itemViewList">
            <ul class="unordered-list">
                <li>
                    <div class="grid-item-parent">
                        <div>Name:</div>
                        <div th:text="${product.productName}"></div>
                    </div>
                </li>
                <li>
                    <div class="grid-item-parent">
                        <div>Price:</div>
                        <div th:text="${product.getPriceDisplayString(product.getProductPrice())}"></div>
                    </div>
                </li>
                <li>
                    <div class="grid-item-parent">
                        <div>Category:</div>
                        <div th:text="${product.getCategoryDto().getCategoryName()}"></div>
                    </div>
                </li>
                <li>
                    <div class="grid-item-parent">
                        <div>18+:</div>
                        <div th:text="${product.isProductOfAge()}"></div>
                    </div>
                </li>
                <li>
                    <div class="item-buttons grid-buttons-parent">
                        <div>
                            <a th:href="@{/assortment/products/update/{productId}(productId=${product.productId})}"><button>Edit</button></a>
                            <a id="deleteButton"><button>Delete</button></a>
                        </div>
                        <button onclick="history.back()">Return</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="deleteModal" class="customModal">
    <div class="modalContainer">
        <div class="modalHeader">Delete</div>
        <p>
            <span class="totalPrice">Are you sure you want to delete </span>
            <span class="text" th:text="${product.getProductName()}"></span>
            <span class="text">?</span>
        </p>
        <div class="grid-modalButtons-parent">
            <div id="cancelDelete" class="modalButton buttonCancel">Cancel</div>
            <a id="delete" class="modalButton buttonConfirm-warning"
               th:href="@{/assortment/products/delete/{productId}(productId=${product.productId})}">Delete</a>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
    <script type="text/javascript" th:src="@{/js/deleteConfirm.js}"></script>
</body>
</html>