<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Product Overview</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="overview grid-overview-parent">
        <div class="overviewListHead grid-overviewListHead-parent">
            <div></div>
            <div>
            </div>
        </div>
        <div class="overviewList">
            <ul class="unordered-list" th:each="product : ${allProducts}">
                <li><a th:href="@{/assortment/products/details/{productId}(productId=${product.productId})}">
                    <div class="grid-product-parent">
                        <div class="productName fontBold" th:text="${product.getProductName()}"></div>
                        <div class="euro-sign">€</div>
                        <div class="productPrice" th:text="${product.getPriceDisplayString()}"></div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>