<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Product details</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="itemView grid-itemView-parent">
        <div class="overviewListHead">
            <div class="headStyle">Details</div>
        </div>
        <div class="itemViewList">
            <ul class="unordered-list">
                <li>
                    <div class="grid-item-parent">
                        <div>Name:</div>
                        <div th:text="${product.productName}"></div>
                    </div>
                </li>
                <li>
                    <div class="grid-item-parent">
                        <div>Price:</div>
                        <div th:text="'€ ' + ${product.getPriceDisplayString()}"></div>
                    </div>
                </li>
                <li>
                    <div class="grid-item-parent">
                        <div>Category:</div>
                        <div th:text="${product.getCategoryDto().getCategoryName()}"></div>
                    </div>
                </li>
                <li>
                    <div class="grid-item-parent">
                        <div>Restrictions:</div>
                        <div th:class="${product.isProductOfAge() == false ? 'displayNone' : 'visible grid-user-child-left'}" class="grid-item-parent">&#128286;</div>
                        <div th:class="${product.isProductOfAge() == true  ? 'displayNone' : 'visible grid-user-child-left'}" class="grid-item-parent">None</div>
                    </div>
                </li>
                <li>
                    <div class="item-buttons grid-buttons-parent">
                        <div>
                            <a th:href="@{/assortment/products/update/{productId}(productId=${product.productId})}">
                                <button class="detailsButtons">Edit</button>
                            </a>
                            <a id="deleteButton">
                                <button class="detailsButtons">Delete</button>
                            </a>
                            <a th:href="@{/assortment/categories/{categoryId} (categoryId = ${product.getCategoryDto().categoryId})}" class="button">Return</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="deleteModal" class="customModal">
    <div class="modalContainer">
        <div class="modalHeader"></div>
        <p>
            <span class="text-center">Are you sure you want to delete </span>
            <span class="text-center" th:text="${product.getProductName()}"></span>
            <span class="text">?</span>
        </p>
        <div class="grid-modalButtons-parent">
            <div id="cancelDelete" class="modalButton buttonCancel">Cancel</div>
            <a id="delete" class="modalButton buttonConfirm-warning"
               th:href="@{/assortment/products/delete/{productId}(productId=${product.productId})}">Delete</a>
        </div>
    </div>
    <div th:replace="fragments/general :: bottomScripts"></div>
    <script type="text/javascript" th:src="@{/js/deleteConfirm.js}"></script>
</div>
</body>
</html>