<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>User Overview</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>
<div class="billyContainer">
    <div class="overview grid-overview-parent">
        <div class="overviewListHead grid-overviewListHead-parent">
            <div></div>
            <div class="new-button"> <a  th:href="@{/users/new}"><button>Add a new billyUser</button></a> </div>
        </div>
        <div class="overviewList">
            <ul class="unordered-list" th:each="billyUser : ${allBillyUsers}">
                <li><a th:href="@{/users/details/{userId}(userId=${billyUser.userId})}">
                    <div class="grid-billyUser-parent">
                        <div class="grid-billyUser-child-left fontBold" th:text="${billyUser.fullNameDisplayString()}"></div>
                        <div class="grid-billyUser-child-right" th:text="${billyUser.userRole}"></div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>