<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>User balances</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="overview">
        <div class="overviewList">
            <ul class="unordered-list" th:each="billyUserDto : ${allBillyUsers}">
                <li><a th:href="@{/users/details/{userId}/(userId=${billyUserDto.userId})}">
                    <div class="grid-user-parent">
                        <div class="grid-user-child-left fontBold" th:text="${billyUserDto.getName()}"></div>
                        <div class="grid-user-child-right" th:text="${billyUserDto.getAccountBalanceDisplayString()}"></div>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>