<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>User details</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>
<div class="billyContainer">
  <div class="itemView grid-itemView-parent">
    <div class="overviewListHead vertical-center">
      <span class="headStyle vertical-center">Details</span>
    </div>
    <div class="itemViewList">
      <ul class="unordered-list">
        <li>
          <div class="grid-item-parent">
            <div>Name:</div>
            <div th:text="${billyUserDto.getName()}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>E-mail:</div>
            <div th:text="${billyUserDto.getUsername()}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Date of birth:</div>
            <div th:text="${#dates.format(billyUserDto.getBirthdate(), 'dd-MM-yyyy')}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Role:</div>
            <div th:text="${billyUserDto.getUserRoleDisplayString()}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Account balance:</div>
            <div th:text="${billyUserDto.getAccountBalanceEuroString()}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Max credit:</div>
            <div th:text="${billyUserDto.getCreditDisplayString()}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Remaining credit:</div>
            <div th:text="${billyUserDto.getRemainingCreditDisplayString()}"></div>
          </div>
        </li>
        <li>
          <div class="item-buttons grid-buttons-parent">
            <div class="formButtonsGrid">
              <a th:href="@{/users/details/{userId}/orderHistory(userId=${billyUserDto.userId})}" class="button">Order history</a>
              <a th:href="@{/users/update/{userId}/(userId=${billyUserDto.userId})}"
                 sec:authorize="hasRole('ROLE_BAR MANAGER')" class="button">Edit</a>
              </a>
              <a th:href="@{/users}" th:class="button">Return</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="deleteModal" class="customModal">
  <div class="modalContainer">
    <div class="modalHeader"></div>
    <p>
      <span class="text-center">Are you sure you want to delete </span>
      <span class="text-center" th:text="${billyUserDto.getName()}"></span>
      <span class="text">?</span>
    </p>
    <div class="grid-modalButtons-parent">
      <div id="cancelDelete" class="modalButton buttonCancel">Cancel</div>
      <a id="delete" class="modalButton buttonConfirm-warning"
         th:href="@{/users/delete/{userId}/(userId=${billyUserDto.userId})}">Delete</a>
    </div>
  </div>
  <div th:replace="fragments/general :: bottomScripts"></div>
  <script type="text/javascript" th:src="@{/js/deleteConfirm.js}"></script>
</div>
</body>
</html>