<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>User form</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="itemView grid-itemView-parent">
        <div class="itemViewListHead">
            <div class="headStyle" th:text="${billyUserDto.getUserId() > 0 ? 'Edit' : 'New user'}"></div>
        </div>
        <div class="itemViewList grid-form_returnButton-parent">
            <form th:action="@{/users/new}" method="post" th:object="${billyUserDto}">
                <ul class="unordered-list">
                    <li>
                        <div class="grid-item-parent">
                            <div><label for="userName">E-mail</label></div>
                            <div><input id="userName" type="email" required maxlength="65" minlength="8" th:field="*{username}" placeholder="Type E-mail"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></div>
                        </div>
                    </li>
                    <li th:style="${billyUserDto.getUserId() == 0 ? 'visible' : 'display:none'}">
                        <div class="grid-item-parent">
                            <div><label for="password">Password</label></div>
                            <div><input id="password" type="password" th:field="*{password}" placeholder="Type password"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="grid-item-parent">
                            <div><label for="name">Name</label></div>
                            <div><input id="name" required type="text" maxlength="65" minlength="1" th:field="*{name}" placeholder="Type name"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="grid-item-parent">
                            <div><label for="dateOfBirth">Date of Birth</label></div>
                            <div><input id="dateOfBirth" type="date" min="1900-01-01" th:field="*{birthdate}"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('birthdate')}" th:errorclass="error" th:errors="*{birthdate}"></div>
                        </div>
                    </li>
                    <li>
                        <div class="grid-item-parent">
                            <div><label for="maxCredit">Max credit</label></div>
                            <div><input id="maxCredit" type="number" th:field="*{maxCredit}"></div>
                        </div>
                        <div class="grid-item-parent error-inputField">
                            <div></div>
                            <div th:if="${#fields.hasErrors('maxCredit')}" th:errorclass="error" th:errors="*{maxCredit}"></div>
                        </div>
                    </li>
                    <li sec:authorize="hasRole('ROLE_BAR MANAGER')">
                        <div class="grid-item-parent">
                            <div>
                                <label for="roles">Role</label>
                            </div>
                            <div>
                                <select th:disabled="${billyUserId eq #authentication.getPrincipal().getUserId()}"
                                        th:class="${billyUserId eq #authentication.getPrincipal().getUserId() ? 'buttonIsDisabled' : ''}"
                                        id="roles" th:field="*{userRole}">
                                    <option value="ROLE_CUSTOMER" selected>Customer</option>
                                    <option value="ROLE_BARTENDER" >Bartender</option>
                                    <option value="ROLE_BAR MANAGER">Bar Manager</option>
                                </select>
                                <span class="billyTooltipRole">Users cannot edit their own role</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="formButtonsGrid">
                            <div>
                                <input type="hidden" th:disabled="${billyUserId != #authentication.getPrincipal().getUserId()}" th:field="*{userRole}" th:value="${billyUserDto.getUserRole()}">
                                <input type="hidden" th:field="*{userId}">
                                <input type="hidden" th:field="*{accountBalance}">
                                <button class="detailsButtons" type="submit" value="Save user">Save</button>
                            </div>
                            <div>
                                <a th:href="@{/users/details/{userId} (userId = ${billyUserDto.userId})}" class="button">Return</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>