<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>User details</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div th:replace="fragments/general :: logoutModal"></div>
<div class="billyContainer">
  <div class="itemView grid-itemView-parent">
    <div class="itemViewListHead">
      <div class="headStyle">Details</div>
    </div>
    <div class="itemViewList">
      <ul class="unordered-list">
        <li>
          <div class="grid-item-parent">
            <div>Name:</div>
            <div th:text="${billyUserDto.name}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>E-mail:</div>
            <div th:text="${billyUserDto.username}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Date of birth:</div>
            <div th:text="${#dates.format(billyUserDto.getBirthdate(), 'dd-MM-yyyy')}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Role:</div>
            <div th:text="${billyUserDto.userRoleDisplayString()}"></div>
          </div>
        </li>
        <li>
          <div class="grid-item-parent">
            <div>Account balance:</div>
            <div th:text="${billyUserDto.getAccountBalanceDisplayString(billyUserDto.accountBalance)}"></div>
          </div>
        </li>
        <li>
          <div class="item-buttons grid-buttons-parent">
            <div class="grid-buttonRow-parent">
              <a th:href="@{/users/update/{userId}(userId=${billyUserDto.userId})}"
                 sec:authorize="hasRole('ROLE_BAR MANAGER')"><button>Edit</button></a>
              <div><a th:class="${billyUserId == #authentication.getPrincipal().getUserId() ? 'buttonIsDisabled button_temporary' : 'button_temporary'}"
                 id="deleteButton"
                 sec:authoirze="hasRole('ROLE_BAR MANAGER')"
                 th:text="Delete"></a><span class="billyTooltip">Users cannot delete themself</span></div>
              <a th:href="@{/users/changePassword/{billyUserId}(billyUserId=${billyUserDto.userId})}"
                 sec:authorize="hasRole('ROLE_BAR MANAGER')">
                <button>Password change</button></a>
            </div>
            <button onclick="history.back()">Return</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="deleteModal" class="customModal">
  <div class="modalContainer">
    <div class="modalHeader">Delete</div>
    <p>
      <span class="totalPrice">Are you sure you want to delete </span>
      <span class="text" th:text="${billyUserDto.getName()}"></span>
      <span class="text">?</span>
    </p>
    <div class="grid-modalButtons-parent">
      <div id="cancelDelete" class="modalButton buttonCancel">Cancel</div>
      <a id="delete" class="modalButton buttonConfirm-warning" th:href="@{/users/delete/{userId}(userId=${billyUserDto.userId})}">Delete</a>
  </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
<script type="text/javascript" th:src="@{/js/deleteConfirm.js}"></script>
</body>
</html>