<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>User Overview</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>
<div th:replace="fragments/general :: logoutModal"></div>

<div class="billyContainer">
    <div class="overview grid-overview-parent">
        <div class="overviewListHead grid-overviewListHead-parent">
            <div></div>
            <div class="new-button">
                <a th:href="@{/users/new}"><button>+</button></a>
            </div>
        </div>
        <div class="overviewList">
            <ul class="unordered-list" th:each="billyUserDto : ${allBillyUsers}">
                <li class="grid-user-grandparent">
                    <a th:href="@{/users/details/{userId}(userId=${billyUserDto.getUserId()})}">
                        <div class="grid-user-parent">
                            <div class="grid-user-child-left RoleSign" th:text="${billyUserDto.getUserRoleEmoticon()}" ></div>
                            <div class="grid-user-child-left fontBold" th:text="${billyUserDto.getName()}"></div>
                            <div class="grid-user-child-right"  th:text="${billyUserDto.getAccountBalanceDisplayString()}" sec:authorize="hasRole('ROLE_BAR MANAGER')"></div>
                         </div>
                    </a>
                    <div class="">
                        <a th:href="@{users/update/balance/{userId}(userId=${billyUserDto.userId})}"><button>+</button></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>